* {
    font-family: "Roboto", sans-serif
}

html.body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
background-color: #000000;

}

.clock {
    background-color: #000000;
    position: relative;
    height: 100vh
}

h1{
    color: white;
    text-align: center;
    font-size: 3em;
}
.clock::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    display: block;
    background-image: url(https://www.gstatic.com/earth/social/00_generic_facebook-001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -80px;
    background-size: cover;
  background-color: #000000;
    
}

.container {
    margin: 0 auto;
    height: 65%;
    padding: 2rem 0;
    box-sizing: border-box;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.timer__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: 2px solid white;
    width: 29vw;
    padding: 3rem;
    border-radius: 2rem;
}

.timer__controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px
}

.timer__controls button {
    margin: 0 10px;
}

.timer__button {
    width: 7rem;
    height: 3rem;
   border: 3px solid white;
   border-radius: 2rem;
   background: transparent;
   color: white;
   font-weight: 600;
   font-size: medium;
   z-index: 50;
}
#stop-sound{
    width: 9rem;
    height: 3rem;
}



.counter {
    font-size: 1rem;
    color: #fff
}

.hour:after {
    content: ":";
    color: white;
    size: 1rem;
}
.minute:after {
    content: ":";
    color: white;
    size: 1rem;
}

input{
    margin: 0 10px;
    width: 7rem;
    height: 2rem;
   border: 3px solid white;
   border-radius: 0.5rem;
   background: transparent;
   color: white;
   font-weight: 600;
   font-size: medium;
   text-align: center;
   font-size: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.501);
    opacity: 1;
    text-align: center;
   /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.486);
    opacity: 1;
    text-align: center;
   
  }

.counter-ms {
    color: #666
}

@media(max-width: 1536px) {
    input{
        width: 5rem;
        height: 1.5rem;
        font-size: 1em;
    }

}

@media(max-width: 1204px) {
  
    input{
        width: 4rem;
        height: 1.5rem;
        
    }
    .counter {
        font-size: 0.8rem;
    }
    .timer__main{
        width: 50vw;
    }
}

@media(max-width: 767px) {
    .timer:before {
        background-position: 0 -40px
    }

   
   

    input{
        width: 3rem;
        height: 1.5rem;
        
    }
    .counter {
        font-size: 0.8rem;
    }
    .timer__main{
        width: 50vw;
    }
}

@media(max-width: 575px) {
    input{
        width: 3rem;
        height: 1.5rem;
        
    }
    .counter {
        font-size: 0.5rem;
    }
    .timer__main{
        width: 50vw;
    }
   
}

@media(max-width: 480px) {
    .timer:before {
        background-position: center bottom 0;
    }
    input{
        width: 3rem;
        height: 1.3rem;
        
    }
    .counter {
        font-size: 0.6rem;
    }
    .timer__main{
        width: 80vw;
    }
    .timer__controls{
        width:100%;
    }
}

.home{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 30;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    display: inline-block;
    height: 1.4rem;
    width: 5rem;
    text-align: center;
    padding-top: 0.3rem;
    font-weight: 500;
    text-decoration: none;
    
}

